SUPABASE_URL=https://reuhsokiceymokjwgwjg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJldWhzb2tpY2V5bW9randnd2pnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzNzgxMDcsImV4cCI6MjA2OTk1NDEwN30.XJnViYpp_3oh24BEiZSwgiXyxfH4G9_Iw65clDEg4SI